{% extends "template.html" %}

{% block content %}
<div class="container full-height login-wrapper">
    <div class="row login-row">
        <div class="col">
            <h1>E_Link</h1>
            <p>Welcome to e_link!</p>
        </div>
        <div class="col">
            <form>
                <input type="text" class="form-control" placeholder="Email">
                <input type="text" class="form-control" placeholder="Password">
                <button type="submit">Login</button>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}