{% extends "template.html" %}

{% block content %}
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
        <h2>Account Creation</h2>
        <form action="/signup_filled" method="post">
            <label for="full_name">Full name</label>
            <input id="full_name" type="text" class="form-control" placeholder="Name">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" placeholder="Email">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" placeholder="Password">
            <label for="confirm_password">Confirm password</label>
            <input id="confirm_password" type="password" class="form-control" placeholder="Confirm password">
            <button type="submit" name="register">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
