{% extends "logged_in_template.html" %}

{% block content %}
<div class="mt-5 container justify-content-center align-self-center">
    <div class="row">
        <h2>Widget Code</h2>
    </div>
    <div class="row">
        <p>Copy & paste this code into the appropriate location in your website's HTML.</p>
    </div>
    <div class="row">
        <div id="elink_template" class="widget-code">
            Inside the &lt;head&gt; tag:
            <br>
            &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"&gt;&lt;/script&gt;
            <br>
            &lt;script src="https://smtpjs.com/v3/smtp.js"&gt;&lt;/script&gt;
            <br>
            &lt;script src="https://e-links.herokuapp.com/widget_info/{{ context.email }}" defer&gt;&lt;/script&gt;
            <br><br>
            Wherever you want the widget:
            <br>
            &lt;div id="linkr_template"&gt;&lt;/div&gt;
        </div>
    </div>
</div>
{% endblock %}