{% extends "logged_in_template.html" %}

{% block content %}
<div class="mt-5 container justify-content-center align-self-center">
    <div class="row">
        <h2>Widget Code</h2>
    </div>
    <div class="row">
        <p>Copy & paste this code into the appropriate location in your website's HTML.</p>
    </div>
    <div class="row">
        <div id="elink_template" class="widget-code">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec orci purus. Vivamus nisi magna, bibendum id ante in, egestas molestie elit. Mauris a imperdiet justo. Nunc sed dignissim nulla. Morbi rhoncus at erat et imperdiet. Aliquam eget volutpat tellus. Ut lacinia pretium tellus nec dignissim. Donec blandit euismod ullamcorper. Curabitur quis dolor ornare, maximus est non, semper dolor. Aenean lorem est, rutrum sed pellentesque et, cursus sit amet elit. Vivamus bibendum eu lacus vitae consectetur. Sed vel neque egestas enim lacinia bibendum quis a tellus. Integer ut congue lorem.

Etiam sodales massa id congue dictum. Proin quis leo nec leo congue efficitur vel a diam. Curabitur viverra tortor quis bibendum sollicitudin. Cras tristique lorem justo, ac rutrum ante iaculis sed. Sed ut molestie urna, eget accumsan arcu. Etiam accumsan magna et nibh volutpat vehicula. Suspendisse vehicula metus eget vulputate dapibus. Donec hendrerit arcu metus, non rutrum lorem faucibus vel. Integer nulla turpis, tincidunt ac libero ac, tincidunt vehicula diam. 
        </div>
    </div>
</div>
{% endblock %}