<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bkg-branded">
        <ul class="p-2 navbar-nav">
            <li class="p-1 nav-item"><a class="nav-link link-color" href="{{ url_for('profile') }}">Profile</a></li>
            <li class="p-1 nav-item"><a class="nav-link link-color" href="{{ url_for('customize') }}">Customize Profile</a></li>
            <li class="p-1 nav-item"><a class="nav-link link-color" href="{{ url_for('widget') }}">Widget</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
  </body>

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
</html>