:root {
    --c0: #03045E;
    --c1: #0077B6;
    --c2: #00B4D8;
    --c3: #90E0EF;
    --c4: #CAF0F8;
    --textdark: #000;
    --textlight: #FFF;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#login-left {
    background-color: var(--c4);
    color: var(--textdark);
}

#login-right {
    background-color: var(--c0);
    color: var(--textlight);
}

.login-format {
    width: 75%;
    max-width: 500px;
}